.mainBackground{
    background-color: #F6EADB;
}
.secondBackground{
    background-color: white;
}
.titleFontFamily{
    font-family: "Comic Sans MS";
}
.fontBlack{}
.fontBlack div{}
.fontBlack a{
    color: black;
}